body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #1b1b53; /* Navbar background color */
    overflow: hidden; /* Clear floats */
    display: flex; 
    justify-content: space-around; /* Evenly space the items */
    padding: 10px 0; /* Add some padding for better spacing */
}

.navbar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; 
    margin: 0;
    display: flex; 
    justify-content: space-around; /* Evenly space the items */
    width: 100%; /* Make the ul take full width */
}

.navbar li {
    flex: 1; /* Allow each li to take equal space */
    text-align: center; /* Center text */
}

.button {
    display: inline-block; /* Make the button inline-block */
    padding: 10px 15px; /* Button padding */
    background-color: #007BFF; /* Button background color */
    color: white; 
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
}

.button:hover {
    background-color: #0056b3;
}

.dashboard-bar {
    background-color: #268bff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.create-employee {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-employee h3 {
    text-align: center;
    color: #333;
}

.create-employee form {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
    gap: 20px; /* Space between form elements */
}

.create-employee label {
    font-weight: bold; /* Make labels bold */
}

.create-employee input[type="text"],
.create-employee input[type="email"],
.create-employee input[type="file"],
.create-employee select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width */
}

.create-employee input[type="radio"],
.create-employee input[type="checkbox"] {
    margin-right: 5px; /* Space between input and label */
}

.create-employee .button {
    width: auto; /* Button width auto */
    align-self: center; /* Center the button */
}

h1 {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    gap: 5px; /* Space between buttons */
}